#appContainer {
  height: 92%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.navbar {
  padding-top: 2%;
  padding-bottom: 2%;
  position: fixed !important;
  width: 100%;
  bottom: 0;
  /* padding-top: 1em; */
  height: 55px;
  /* background-color: hsl(240, 11%, 15%) !important; */
  z-index: 20;
  box-shadow: none;
  border-top: solid 1px rgba(58, 58, 58, 0.315);
  /* background-color: rgb(250, 250, 250) !important; */
  display: flex;
  justify-content: space-around;
  /* background-color: rgb(245, 245, 245) !important; */
  background-color: white !important;
}

.navbar-toggler {
  margin-right: 2%;
}

.home-title-navbar {
  /* margin-left: 8%; */
  font-weight: 400;
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  /* width: 100% !important; */
  margin: 0;
}

.navbar-nav.mr-auto {
  margin-top: 0;
  background-color: #ffffff;
  padding: 2%;
  padding-bottom: 0;
  border-bottom: solid rgba(0, 0, 0, 0.302) 1px;
  animation: fadeIn ease 0.1s;
}

#navbarDropdown {
  color: black;
}

.LibraryContainer,
.HomeContainer {
  /* display: flex; */
  width: 100%;
  height: 100%;
  /* align-items: center;
  justify-content: center; */
  padding: 2%;
  animation: fadeIn ease 500ms;
  background-color: rgb(245, 245, 245) !important;
}

.HomeContainer {
  max-width: 800px;
  padding-bottom: 7em;
  padding-top: 2em;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.stepsTitle {
  margin-left: 2%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.libraryTitleContainer {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  /* margin-top: 1.5em; */
  /* margin-top: 2%; */
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100vw !important;
  border-bottom: solid 1px rgba(58, 58, 58, 0.315);
  z-index: 15;
  /* background-color: rgb(245, 245, 245) !important; */
  background-color: white;
}

.HomeTitleContainer {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  /* margin-top: 1.5em; */
  /* margin-top: 2%; */
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100vw !important;
  border-bottom: solid 1px rgba(58, 58, 58, 0.315);
  z-index: 15;
  /* background-color: rgb(245, 245, 245) !important; */
  background-color: white !important;
}

.searchBooksForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  width: 50vw;
}

.bookButtonsContainer {
  display: flex;
  flex-direction: row;
  width: 96vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 7em;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.bookButtonsLowOpacity {
  opacity: 0.5;
}

.bookButton {
  margin: 1%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.2s;
}

.bookButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.kindleEmailAddressForm {
  position: fixed;
  bottom: 55px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 3%;
  border-top: solid 1px rgba(58, 58, 58, 0.452);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  animation: fadeIn ease 0.5s;
}

.kindleEmailAddressFormInner {
  width: 96%;
  max-width: 500px;
}

.kindleEmailFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3%;
}

.downloadedTrue {
  color: rgb(27, 201, 4);
  margin-left: 10%;
  animation: fadeIn ease 0.5s;
}

.downloadedFalse1 {
  color: rgba(0, 0, 0, 0.194);
  margin-left: 10%;
}

.downloadedFalse2 {
  color: rgba(181, 181, 181, 0.451);
  margin-left: 10%;
}

.howToFindButtonContainer {
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.horizontalDivider {
  width: 100%;
  border-bottom: 1px solid rgba(31, 31, 31, 0.473);
  margin-bottom: 5%;
}

.requestButton {
  /* position: absolute; */
  /* float: right; */
  right: 2%;
  margin-top: -4%;
  margin-left: 10%;
  animation: fadeIn ease 1s;
  background-color: #ffde59 !important;
  font-weight: 500;
}

.filtersForm {
  /* font-size: 4em; */
  position: relative;
  top: 15vh;
  width: 100%;
}

.sidenav {
  width: 40%;
}

@media screen and (min-width: 800px) {
  .kindleEmailAddressForm {
    bottom: 100px;
  }
  .requestButton {
    position: relative;
    margin-left: 60%;
    width: 15%;
  }
  .bookButtonDiv {
    margin-bottom: 15px;
  }
  .navbar {
    height: 100px;
  }
  .libraryTitleContainer {
    /* padding-top: 7em; */
  }
  .HomeContainer {
    padding-top: 5em;
  }
  .filtersForm {
    /* top: 100px; */
    font-size: 1.5em;
  }
  .sidenav {
    width: 20%;
  }
  .stickyEmailIconSide {
    bottom: 100px !important;
    font-size: large !important;
  }
}

.requestBookButtonContainer {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: bottom;
}

.directionNumber {
  color: rgb(21, 180, 0);
  font-weight: 700;
}

.smallerText {
  font-size: small;
}

.howToGetBooksTitle {
  margin-bottom: 5%;
}

.downloading-spinner {
  margin-right: 5%;
}

.modalTitleDownloading {
  width: 100%;
}

.higherFontWeight {
  font-weight: 500;
}

.kindleEmailFormFieldGreen {
  border: solid 1px rgba(8, 171, 8, 0.467);
}

.kindleEmailFormFieldRed {
  border: solid 1px rgba(231, 10, 10, 0.467);
}

.kindleEmailAddressTitle {
  width: 100% !important;
}

.fa-circle-check2 {
  margin-left: 2%;
  color: rgb(0, 183, 43);
}

.venmoQRCodeContainer {
  width: 80%;
  /* height: 100%; */
  height: 70%;
  background-image: url('http://s3.amazonaws.com/froobs-kindle-books/bitcoinQR.PNG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.venMoNameDiv {
  text-align: center;
}

.venmoModalBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.donateButton {
  margin-bottom: 1em;
}

.logoutButtonNextToDonate {
  margin-bottom: 1em;
  /* margin-left: 2%; */
}

.requestForm {
  margin-bottom: 5%;

  background-color: #ffde59;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 3%;
  /* border: solid 1px rgba(0, 0, 0, 0.438); */
  border-radius: 10px;
}

.fa-copy {
  color: rgb(44, 44, 44);
  margin-left: 2%;
}

/* ======================================================= */

.bookButton {
  overflow: hidden; /* required */
  position: relative; /* required  for demo*/
}

.ribbon {
  margin: 0;
  padding: 0;
  background: #ffde59;
  color: rgb(0, 0, 0);
  padding: 0.25em 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
  font-size: xx-small;
  animation: fadeIn ease 0.3s;
  font-weight: 400;
  z-index: 5;
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffde59;
}
.ribbon:before {
  right: 100%;
}

.ribbon:after {
  left: 100%;
}

.bookCoverFroms3 {
  height: 100%;
  width: 100%;
}

.emailPicDiv {
  height: 2.3em;
  width: 2.3em;
  border-radius: 50%;
  margin-right: 2%;
  position: relative;
  left: 0;
  /* margin-left: -3%; */
  display: flex;
  align-content: center;
  justify-content: center;
  animation: fadeIn ease 0.3s;
  margin-bottom: 4px;

  display: none;
}

.loginButtonSpan {
  font-weight: 500;
  text-decoration: underline;
  color: hsl(225, 93%, 49%);
}

.loginButtonSpan:hover {
  cursor: pointer;
}

.fa-filter {
  margin-left: 3%;
  /* margin-right: 3%; */
  color: black;
}

/* ============================================================= */

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  float: left;
  bottom: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  /* border-right: solid rgba(0, 0, 0, 0.361) 1px; */
  border-right: solid 1px rgba(27, 27, 27, 0.284);
  z-index: 2;

  /* font-size: 1vw; */
  background-color: rgb(245, 245, 245) !important;
}

.sideNavClosed {
  width: 0;
}

.filterMenuItem {
  font-size: 10em;
  height: 10vh;
}

.filterSelectionRadioButton {
  margin-left: 6%;
}

.filterButtonSpan {
  height: 36px;
  width: 36px;
  /* background-color: red; */
  margin-left: 3%;

  background-image: url('https://cdn-icons-png.flaticon.com/512/6526/6526846.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* transform: rotate(90deg); */
}

.filterButtonSpan:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.form-check-input:hover {
  cursor: pointer;
}

.fa-home,
.fa-book {
  color: rgb(29, 29, 29);
  padding: 0;
  display: flex;
  height: 100%;
  /* width: 100%; */
  position: relative;
  bottom: -6.5px;
}

.fa-sign-out {
  color: rgb(207, 69, 69);
  padding: 0;
  display: flex;
  height: 100%;
  /* width: 100%; */
  position: relative;
  bottom: -6.5px;
  /* bottom: 50px; */
  /* right: 50px; */
}

.fa-sign-in {
  color: rgb(69, 211, 69);
  padding: 0;
  display: flex;
  height: 100%;
  /* width: 100%; */
  position: relative;
  bottom: -6.5px;
}

.navBarIconAndTextDiv {
  /* margin-top: -5%;
  font-size: small;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 55px !important;
  display: flex;
  position: relative;
  left: -5vw;
}

.navbarInnerText {
  color: rgb(29, 29, 29) !important;
  font-size: small;
  font-weight: 400;
  display: flex;
  position: relative;
  left: 32px;
  bottom: -6.5px;
  text-decoration: none !important;
}

.navbarTextItem {
  margin-left: 3%;
  padding-bottom: 2%;
}

.homeIconSpan {
  height: 40px;
  width: 40px;
  /* background-color: red; */
  margin-left: 3%;

  background-image: url('https://icon-library.com/images/home-icon-transparent-background/home-icon-transparent-background-17.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  /* transform: rotate(90deg); */
  display: flex;
}

.libraryIconSpan {
  height: 38px;
  width: 38px;
  /* background-color: red; */
  margin-left: 3%;

  background-image: url('https://cdn-icons-png.flaticon.com/512/4355/4355219.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* transform: rotate(90deg); */
}

.stepP {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 3%;
  border: solid 1px rgba(0, 0, 0, 0.147);
}

.stickyEmailIconSide {
  position: fixed;
  bottom: 55px;
  /* height: 5vh; */
  /* width: 20vw; */
  /* background-color: rgb(256, 197, 197); */
  z-index: 55;

  /* color: rgb(240, 240, 240); */
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: small;
  /* background-color: rgb(11, 45, 194); */
  background-color: #ffde59;
  width: 100%;
  text-align: center;
  border-top: solid 1px rgba(58, 58, 58, 0.315);
  padding-bottom: 2px;
  animation: fadeIn ease 0.5s;
}

.stickyEmailIconSide:hover {
  cursor: pointer;
}

.requestsmalltext {
  color: rgb(32, 32, 32) !important;
  font-size: small;
}

.froobsBtooksLogo {
  /* height: 67px;
  width: 67px;
  margin-left: 2%;
  background-image: url('http://s3.amazonaws.com/froobs-kindle-books/Froobs-Books-logo-white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
}

.descriptionButton {
  /* margin-left: 2%; */
  background-color: #f4f1ea;
  color: black;
  border: solid #927f64 1px;
  padding: 5%;

  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Goodreads_logo.svg/2560px-Goodreads_logo.svg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25vw;
  /* height: 5vh; */
}
/* 
.descriptionButton:hover {
  background-color: white;
} */

.downloadBookModalFooter {
  background-color: #f8c56673;
  border-top: solid 1px #927f64a4;
}

.goodreadsLinkA {
  text-decoration: none;
}

.descriptionBody {
  height: 0;
  overflow: hidden;
  animation-name: expand;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  overflow-y: scroll;
}

.descriptionBody2 {
  overflow-y: scroll;

  height: 0;
  overflow: hidden;
  animation-name: expand3;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  overflow-y: scroll;
}

@keyframes expand {
  0% {
    height: 0;
  }
  100% {
    height: 40vh;
  }
}

@keyframes expand2 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes expand3 {
  0% {
    height: 0;
  }
  100% {
    height: 35vh;
  }
}

.star-icons {
  display: flex;
  align-items: flex-end;
  padding-bottom: 2%;
  height: 100%;
  color: rgb(216, 202, 13);

  height: 0;
  overflow: hidden;
  animation-name: expand2;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  overflow-y: scroll;
  margin-top: 2%;
}

.fa-star10 {
  display: inline-block;
  position: relative;
  color: #ddd;

  font-family: FontAwesome;
  content: '\f005';
  left: 0;
  /* top: -10px; */
  /* width: 100%; */
  overflow: hidden;
  color: rgb(226, 204, 9);
  z-index: 5000;
  font-size: smaller;
}

.areYouSureModalBody {
  border-bottom: solid 1px rgba(41, 41, 41, 0.178);
}
